.rental-section {
    margin-bottom: 2rem;
}

.rental-item {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #222;
}
.rental-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.5);
  }
input, button {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    display: block;
}

button {
    background-color: #FF5555;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #FF3333;
}





.rental-item p {
    margin: 0.5rem 0;
}

.rental-item strong {
    color: #f1adff;
}

h1, h2 {
    color: #f1adff;
}

/* Botão estilo Minecraft */
.minecraft-button {
    background-color: #555;
    color: white;
    border: 2px solid #373737;
    padding: 8px 16px;
    margin: 10px 0;
    cursor: pointer;
    font-family: 'Minecraft', sans-serif;
}

.minecraft-button:hover {
    background-color: #666;
}

/* Caixa de status */
.status-box {
    padding: 8px;
    margin-top: 10px;
    background: linear-gradient(145deg, rgba(58, 58, 58, 0.9) 0%, rgba(34, 34, 34, 0.9) 100%), url('../img/base/bedrock.png');
}