/* Staff Page Styles */
.staff-item {
    background: rgba(0, 0, 0, 0.6);
}

/* Use as classes existentes do colorMap */
.texture-title {
    font-size: 1.2rem;
    text-shadow: 2px 2px 0 #000;
}
 


/* Cores específicas para cargos */
.mc-4 { color: #FF5555 }  /* Dono */
.mc-2 { color: #55FF55 }  /* Mod */
.mc-6 { color: #FFFF55 }  /* Admin */
.mc-9 { color: #5555FF }  /* Dev */